
/*
controls
*/

[part="controls"] {
    display: grid;
    grid-template-columns: [left] 1fr [center] auto [right] 1fr;
    height: auto;
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: stretch;
}

[part="controls"]:empty {
    display: none;
}

@media print {
    :host > nav {
        display: none !important;
    }
}
