
:host(:-webkit-full-screen) {
    width: 100vw !important;
    height: 100vh !important;
    margin: 0 !important;
    opacity: 1 !important;
    visibility: visible !important;
    color: white;
    background-color: #121212;
}

:host(:fullscreen) {
    width: 100vw !important;
    height: 100vh !important;
    margin: 0 !important;
    opacity: 1 !important;
    visibility: visible !important;
    color: white;
    background-color: #121212;
}

/*
[part="fullscreen-button"]
Changes position in fullscreen mode.
*/

:host(:-webkit-full-screen) [part="fullscreen-button"] {
    grid-column: auto;
    grid-row: auto;
    position: absolute;
    top: 0.75em;
    right: 0.75em;
    margin: 0;
    bottom: auto;
}

:host(:fullscreen) [part="fullscreen-button"] {
    grid-column: auto;
    grid-row: auto;
    position: absolute;
    top: 0.75em;
    right: 0.75em;
    margin: 0;
    bottom: auto;
}

/*
.fullscreen-hidden
Hide an element when inside an element in fullscreen mode.
*/

:host(:-webkit-full-screen) .fullscreen-hidden {
    display: none !important;
}

:host(:fullscreen) .fullscreen-hidden {
    display: none !important;
}


/*
.fullscreen-shown
Hide an element when not in fullscreen mode.
*/

:host(:not(:-webkit-full-screen)) .fullscreen-shown {
    display: none !important;
}

:host(:not(:fullscreen)) .fullscreen-shown {
    display: none !important;
}


/**
::part(fullscreen-button)
Style the fullscreen button, available when the slideshow has `controls="fullscreen"`
enabled. By default button icons are background images. Replace the background
image to change the icon.

```css
slide-show::part(fullscreen-button) {
    background-image: url('./fullscreen.svg');
}
```
**/

[part="fullscreen-button"] {
    vertical-align: baseline;
    overflow: hidden;
    z-index: 2;

    /* Place at the right of flexbox, compensate for width so that pagination
       stays centred. */
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
    margin: 0.375em 0;

    /* Nullify stuff */
    padding: 0;
    width: 1.875em;
    height: 1.875em;
    min-width: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;

    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: transparent;

    border-width: 0;
    border-radius: 0.3125em;
    color: inherit;
    transition: background-color 0.2s linear;

    /* Inherited by inner SVG, but make overideable here */
    stroke-width:   2;
    stroke-linecap: round;
    fill:           none;
    vector-effect:  non-scaling-stroke;
}

[part="fullscreen-button"]:hover {
    transition: background-color 0.1s linear;
    background-color: rgba(255, 255, 255, 0.3);
}
