
:host {
    /**
    --slide-duration
    Sets the display duration of a slide when the slideshow has
    `controls="autoplay"` enabled. May be a CSS time value in `s` or `ms`.

    ```css
    slide-show > img {
        --slide-duration: 12s;
    }
    ```

    If applied to the `slide-show` itself, sets the display duration of all
    slides.

    ```css
    slide-show {
        --slide-duration: 12s;
    }
    ```
    **/
    --slide-duration: 8s;

    /**
    --padding-left
    Adjusts the space to the left of the leftmost slide, and the alignment
    position of slides set to `scroll-snap-align: start`. (Internally it sets
    both `padding-left` and `scroll-padding-left` while enabling a workaround for
    some browser inconsistencies.)

    ```css
    slide-show {
        --padding-left: 3rem;
    }
    ```
    **/
    --padding-left: 0;

    /**
    --padding-right
    Adjusts the space to the right of the rightmost slide, and the alignment
    position of slides set to `scroll-snap-align: end`. (Internally it sets
    both `padding-right` and `scroll-padding-right` while enabling a workaround
    for some browser inconsistencies.)

    ```css
    slide-show {
        --padding-right: 3rem;
    }
    ```
    **/
    --padding-right: 0;

    position: relative;

    /* Must override anything applied to :fullscreen, however must not be
       !important as that can't be overridden externally, I don't think. */
    display: flex;
    flex-direction: column;

    /* .scroller takes over viewport duties */
    padding-left:  0 !important;
    padding-right: 0 !important;

    /* Put content in the center, useful when slide-show is bigger than content,
       such as in fullscreen mode. */
    align-content:   center !important;
    align-items:     stretch;
    justify-content: center !important;
    justify-items:   stretch;

    /* Reset style applied to un-upgraded slide-show  */
    grid-auto-flow: row !important;

    grid-auto-columns:     100%;
    grid-template-columns: none;
    column-gap:            0;

    grid-auto-rows:        auto;
    /*grid-template-rows:    1fr;*/
    row-gap:               0;

    scroll-snap-type: none !important;
    scroll-snap-stop: none !important;

    /* Inherited by .scroller, overridable from outer DOM */
    -webkit-scroll-behavior: smooth;
            scroll-behavior: smooth;

    overscroll-behavior-x: none !important;
    -ms-overflow-style: none !important; /* IE 11 */
    scrollbar-width: none !important; /* Firefox 64 */
    overflow: visible;
}

:host([hidden]) {
    display: none;
}

:host > .scroller,
:host > [part="controls"] {
    align-self: stretch;
}

:host > .scroller {
    height: 100%;
    justify-self: stretch;
}

:host > [part="controls"] {
    justify-self: auto;
}

.invisible {
    /* Keep content accessible but not visible. */
    position: absolute;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0 -1px -1px 0;
    overflow: hidden;
    white-space: nowrap;
    border-width: 0;
}
