
/**
::part(prev-button)
Style the 'previous slide' button, available when the slideshow has
`controls="navigation"` enabled. Default button icons are inner SVGs that
render `stroke` as `currentcolor` and inherit `stroke-width`, `stroke-linecap`
and `fill` properties from the button.

```css
slide-show::part(next-button) {
    color: blue;
    stroke-width: 3px;
}
```

To fully replace the default icon, see `slot="prev-button"`.
**/

/**
::part(next-button)
Style the 'next slide' button, available when the slideshow has
`controls="navigation"` enabled. Default button icons are inner SVGs that
render `stroke` as `currentcolor` and inherit `stroke-width`, `stroke-linecap`
and `fill` properties from the button.

```css
slide-show::part(next-button) {
    color: blue;
    stroke-width: 3px;
}
```

To fully replace the default icon, see `slot="next-button"`.
**/

[part="prev-button"],
[part="next-button"] {
    vertical-align: baseline;
    overflow: hidden;
    position: absolute;
    top: 50%;
    z-index: 2;

    /* Nullify stuff */
    padding: 0;
    width: 1.875rem;
    min-width: 0;
    line-height: inherit;
    text-decoration: none;

    /* Hide text by pushing it rightward, leaving background image to
       'replace' it */
    height: 2.5rem;
    margin-top: -1.25rem;

    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: transparent;
    border-width: 0;
    border-radius: 0.3125rem;
    color: inherit;
    transition: background-color 0.2s linear;

    cursor: pointer;

    /* Inherited by inner SVG, overideable here */
    stroke-width:   2;
    stroke-linecap: round;
    fill:           none;
}

[part="prev-button"] {
    left: 0.1875rem;
}

[part="next-button"] {
    right: 0.1875rem;
}

[part="prev-button"]:hover,
[part="next-button"]:hover {
    transition: background-color 0.1s linear;
    background-color: rgba(255, 255, 255, 0.3);
}
