
/* Basic element reset */

:host,
* {
    box-sizing: border-box;

    /* Set the dimensions of backgrounds to the limits of the
       padding box. */
    background-origin: padding-box;

    /* Default to backgrounds that don't repeat. */
    background-repeat: no-repeat;

    padding: 0;
    margin: 0;
}
