
/* Basic element reset */

:host,
* {
    box-sizing: border-box;

    /* Set the dimensions of backgrounds to the limits of the
       padding box. */
    background-origin: padding-box;

    /* Default to backgrounds that don't repeat. */
    background-repeat: no-repeat;

    padding: 0;
    margin: 0;
}

/* Make fullscreen elements fill the screen */

:-webkit-full-screen {
    width: 100vw !important;
    height: 100vh !important;
    margin: 0 !important;
}

:-moz-full-screen {
    width: 100vw !important;
    height: 100vh !important;
    margin: 0 !important;
}

:-ms-fullscreen {
    width: 100vw !important;
    height: 100vh !important;
    margin: 0 !important;
}

:fullscreen {
    width: 100vw !important;
    height: 100vh !important;
    margin: 0 !important;
}
