
/**
.scroller
**/

.scroller {
    display: block;
    position: relative;

    padding-left:         var(--padding-left, 0);
    padding-right:        var(--padding-right, 0);
    scroll-padding-left:  var(--padding-left, 0);
    scroll-padding-right: var(--padding-right, 0);

    overflow:   auto;
    overflow-y: hidden;
    overscroll-behavior-x: none;
    overscroll-behavior-x: contain;
    scrollbar-width: none; /* Firefox 64 */

    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;

    -webkit-scroll-behavior: inherit;
            scroll-behavior: inherit;

    will-change: -webkit-scroll-behavior;
    will-change: scroll-behavior;

    grid-template-columns: none;
    grid-auto-columns:     inherit;
    column-gap:            inherit;
    justify-content:       inherit;
    justify-items:         inherit;

    grid-template-rows:    inherit;
    grid-auto-rows:        inherit;
    row-gap:               inherit;
    align-content:         inherit;
    align-items:           inherit;
}

.scroller::before {
    /* The scroll element does not scroll to the extent of their right padding,
       as its child, the slides element, is max 100% wide – allowing the slides
       grid or its children to set their width according to the host width.
       Tricky stuff, but this is a general problem with scrolling elements, and
       not just in this custom element.

       However, the presence of a ridiculously wide absolutely positioned block
       does allow scroll-snap to align the last item to the centre by default,
       making padding right work, sorta. It breaks for other alignments of
       scroll-snap, so UPDATE WIDTH IN JS */
    content: '';
    position: absolute;
    left: 0;
    top: 0;

    /* Accomadate 50 full width slides as a default. */
    width: var(--scroll-width, 5000%);

    /* Requires at least some height to take effect. */
    height: 1px;

    /* Make sure it's behind everything else */
    z-index: -1;
}

.scroller::-webkit-scrollbar {
    /* Not convinced this is necessary */
    -webkit-appearance: none;

    /* Hide scrollbar by default */
    display:       var(--webkit-scrollbar-display, none);
    width:         var(--webkit-scrollbar-width);
    height:        var(--webkit-scrollbar-width);
    background:    var(--webkit-scrollbar-background);
    border:        var(--webkit-scrollbar-border);
    border-radius: var(--webkit-scrollbar-border-radius);
}

.scroller::-webkit-scrollbar-thumb:vertical,
.scroller::-webkit-scrollbar-thumb:horizontal {
    background:    var(--webkit-scrollbar-thumb-background);
    border:        var(--webkit-scrollbar-thumb-border);
    border-radius: var(--webkit-scrollbar-thumb-border-radius);
}

.scroller > [part="slides"] {
    position: relative;
    /*z-index: 1;*/
}
