
[part="slides"] {
    display: grid;
    height: 100%;

    margin-left: auto;
    margin-right: auto;

    grid-auto-flow: column;

    grid-template-columns: inherit;
    grid-auto-columns:  inherit;
    column-gap:         inherit;
    /* Justification is important for alignment to the start of the scroller. */
    justify-content:    start;
    justify-items:      inherit;

    grid-template-rows: inherit;
    grid-auto-rows:     inherit;
    row-gap:            inherit;
    align-content:      inherit;
    align-items:        inherit;
}

[part="slides"]::slotted(*) {
    scroll-snap-align: center;
}
