
/*
controls
*/

[part="controls"] {
    display: flex;
    margin-top: 0.75rem;
    height: 1.875rem;
    align-content:center;
    align-items: center;
    justify-content: center;
}

@media print {
    :host > nav {
        display: none !important;
    }
}
