

/**
::part(fullscreen-button)
Style the fullscreen button, available when the attribute 'controls' contains
the token `"fullscreen"`.
**/

/**
::part(fullscreen-button-active)
Style the fullscreen button while in fullscreen mode.
**/

[part*="fullscreen-button"] {
    vertical-align: baseline;
    overflow: hidden;
    position: absolute;
    bottom: 0.125rem;
    right: 0.0625rem;
    z-index: 2;

    /* Nullify stuff */
    padding: 0;
    width: 0;
    min-width: 0;
    line-height: inherit;
    text-decoration: none;

    /* Hide text by pushing it rightward, leaving background image to
       'replace' it */
    padding-left: 1.875rem;
    height: 1.875rem;
    margin-top: 0;
    cursor: pointer;

    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">\
        <path d="M9,9 L17,17 M9,15 L9,9 L15,9 M9,31 L17,23 M9,25 L9,31 L15,31 M31,31 L23,23 M25,31 L31,31 L31,25 M31,9 L23,17 M25,9 L31,9 L31,15" stroke="black" stroke-width="2" stroke-linecap="round" fill="none" vector-effect="non-scaling-stroke"></path>\
    </svg>');

    border-width: 0;
    border-radius: 0.3125rem;
    color: inherit;
    transition: background-color 0.2s linear;
}

[part*="fullscreen-button"]:hover {
    transition: background-color 0.1s linear;
    background-color: rgba(255, 255, 255, 0.3);
}

[part*="fullscreen-button-active"] {
    top: 0.1875rem;
    right: 0.1865rem;
    bottom: auto;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">\
        <path d="M9,9 L31,31 M9,31 L31,9" stroke="white" stroke-width="2" stroke-linecap="round" fill="none" vector-effect="non-scaling-stroke"></path>\
    </svg>');
}
