
/**
::part(previous)
Style the 'previous slide' button.
**/

/**
::part(next)
Style the 'next slide' button.
**/

[part="prev-button"],
[part="next-button"] {
    vertical-align: baseline;
    overflow: hidden;
    position: absolute;
    top: 50%;
    z-index: 2;

    /* Nullify stuff */
    padding: 0;
    width: 0;
    min-width: 0;
    line-height: inherit;
    text-decoration: none;

    /* Hide text by pushing it rightward, leaving background image to
       'replace' it */
    padding-left: 1.875rem;
    height: 1.875rem;
    margin-top: -0.9375rem;

    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: transparent;
    border-width: 0;
    color: inherit;
}

[part="prev-button"] {
    left: 0;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">\
        <path d="M18,4 L8,15 L18,26" stroke="black" stroke-width="2" stroke-linecap="round" fill="none" vector-effect="non-scaling-stroke"></path>\
    </svg>');
}

[part="next-button"] {
    right: 0;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">\
        <path d="M12,4 L22,15 L12,26" stroke="black" stroke-width="2" stroke-linecap="round" fill="none" vector-effect="non-scaling-stroke"></path>\
    </svg>');
}
