
/**
::part(pagination)
Style the pagination wrapper.
**/

[part="pagination"] {
    display: flex;
    justify-content: center;
}


/**
::part(page-button)
Style the pagination buttons, available when the slideshow has
`controls="pagination"` enabled.
**/

[part*="page-button"] {
    display: inline-block;
    padding: 0 0 0 1.25rem;
    height: 1.25rem;
    cursor: pointer;

    border-width: 0;
    background-color: transparent;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">\
        <circle cx="10" cy="10" r="6" stroke="none" fill="gray" vector-effect="non-scaling-stroke"></circle>\
    </svg>');
}

/**
::part(page-button-active)
Style the pagination button pointing to the active slide, available when the
slideshow has `controls="pagination"` enabled.
**/

[part*="page-button-active"] {
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">\
        <circle cx="10" cy="10" r="6" stroke="none" fill="black" vector-effect="non-scaling-stroke"></circle>\
    </svg>');
}

:host(:fullscreen) [part*="page-button-active"] {
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">\
        <circle cx="10" cy="10" r="6" stroke="none" fill="white" vector-effect="non-scaling-stroke"></circle>\
    </svg>');
}

:host(:-webkit-full-screen) [part*="page-button-active"], {
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">\
        <circle cx="10" cy="10" r="6" stroke="none" fill="white" vector-effect="non-scaling-stroke"></circle>\
    </svg>');
}
