
/* Style the un-upgraded slide-show */

slide-show {
    /* Rules that can be overridden with classes, which themselves override
       :host styles. */
    display: grid;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    grid-auto-rows: min-content;
    align-items: center;
    justify-items: stretch;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -webkit-scroll-behavior: smooth;
    scroll-behavior: smooth;
    overscroll-behavior-x: contain;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */

    /* Overridden on upgrade */
    column-gap:           var(--x-gap);
    padding-left:         var(--padding-left);
    scroll-padding-left:  var(--padding-left);
    padding-right:        var(--padding-left);
    scroll-padding-right: var(--padding-left);
}

slide-show:not(:defined) {
    /* Rules that you want to override on slide-show when the element is not
       upgraded  */
    overflow: scroll;
    overflow-y: hidden;
}


/*
slide-show:defined {
}
*/

slide-show::-webkit-scrollbar {
    display: none;
}

slide-show:not(:defined) > [slot] {
    display: none;
}

slide-show > :not([slot]) {
    scroll-snap-align: center;
    /* override slide hidden during load */
    /*display: block;*/
}

slide-show:-webkit-full-screen {
    align-content: center;
    column-gap: var(--x-gap);
}

slide-show:-ms-fullscreen {
    align-content: center;
    column-gap: var(--x-gap);
}

slide-show:fullscreen {
    align-content: center;
    column-gap: var(--x-gap);
}

slide-show.fullscreen {
    align-content: center;
    column-gap: var(--x-gap);
}
