
/*@import '../../bolt/fonts/fira-code.css';
@import '../../bolt/fonts/fira-mono.css';
@import '../../bolt/fonts/source-sans-pro.css';*/

@import "../../bolt/elements/html.css";
@import "../../bolt/elements/svg.css";
@import "../../bolt/elements/root.css";
@import "../../bolt/elements/body.css";
@import "../../bolt/elements/type.css";
@import "../../bolt/elements/a.css";
@import "../../bolt/elements/code.css";
@import "../../bolt/elements/table.css";

@import "../../bolt/classes/js.css";
@import "../../bolt/classes/button.css";
@import "../../bolt/classes/list.css";
@import "../../bolt/classes/layer.css";
@import "../../bolt/classes/badge.css";
@import "../../bolt/classes/pill.css";
@import "../../bolt/classes/thumb.css";
@import "../../bolt/classes/block.css";
@import "../../bolt/classes/color.css";
/*@import "../../bolt/classes/text.css";*/
@import "../../bolt/classes/atoms.css";
@import "../../bolt/classes/device.css";
@import "../../bolt/classes/dialog.css";
@import "../../bolt/classes/toggle-block.css";
@import "../../bolt/classes/bubble.css";

@import "../../bolt/documentation/prism-cruncher.css";
@import "../../bolt/documentation/documentation.css";
@import "../../bolt/documentation/atoms.css";


@font-face {
    font-family: Euclid;
    src: url('../docs/fonts/Euclid/EuclidCircularA-Regular-WebTrial.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Euclid;
    src: url('../docs/fonts/Euclid/EuclidCircularA-Medium-WebXL.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: MartianMono;
    src: url('../docs/fonts/Martian-Mono/MartianMonoVF.woff2') format('woff2');
}


.docs-text-01, h1,
.docs-text-02, h2,
.docs-text-03, h3,
.docs-text-04, h4,
.docs-text-05, h5,
.docs-text-06, h6,
.docs-text-08, body,
.docs-text-09 {
    font-family: Euclid;
    font-style: none;
    text-transform: none;
    margin: 0;

    /* Make fonts appear the same on both hires and lores screens */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.docs-text-05 code:not(.pill) {
    font-family: MartianMono, Menlo, Monaco, monospace !important;
    font-variation-settings: 'wght' 300, 'wdth' 96;
    font-size: 0.875em;
}

.docs-text-07, code {
    font-family: MartianMono, Menlo, Monaco, monospace !important;
    font-variation-settings: 'wght' 480, 'wdth' 96;
    font-size: 0.82em;
}

.docs-text-01, h1       { font-size: 13.6vw;    line-height: 1em;      font-weight: 600; }
.docs-text-02, h2       { font-size: 1.875rem;   line-height: 1.625em; font-weight: 600; }
.docs-text-03, h3       { font-size: 1.25rem;   line-height: 1.5rem;   font-weight: 600; }
.docs-text-04, h4       { font-size: 1rem;      line-height: 1.5rem;   font-weight: 600; }
.docs-text-05, h5       { font-size: 1.125rem;  line-height: 1.375em;  font-weight: 600; }
.docs-text-06, h6       { font-size: 1.125rem;  line-height: 1.5rem;   font-weight: 600; }
.docs-text-07           { font-size: 0.9375rem; line-height: 1.5rem;   font-weight: 480; }
.docs-text-08, body     { font-size: 1.125rem;  line-height: 1.5em;    font-weight: 400; }
.docs-text-09           { font-size: 0.9375rem; line-height: 1.5rem;   font-weight: 400; }

.docs-text-01 > code {
    font-variation-settings: 'wght' 680, 'wdth' 92;
}

/* Specific to <slide-show> header */
.docs-text-01 { font-size: 14.5vw; white-space: nowrap; }

@media (min-width: 50em) {
    .docs-text-01 { font-size: 10.2vw; }
}

@media (min-width: 70em) {
    .docs-text-01 { font-size: 7vw; }
}

* + .docs-text-03 { margin-top: 3rem; }
