
@import "../../bolt/elements/html.css";
@import "../../bolt/elements/svg.css";
@import "../../bolt/elements/root.css";
@import "../../bolt/elements/body.css";
@import "../../bolt/elements/type.css";
@import "../../bolt/elements/a.css";
@import "../../bolt/elements/code.css";
@import "../../bolt/elements/table.css";

@import "../../bolt/classes/js.css";
@import "../../bolt/classes/button.css";
@import "../../bolt/classes/list.css";
@import "../../bolt/classes/thumb.css";
@import "../../bolt/classes/block.css";
@import "../../bolt/classes/color.css";

@import "../../bolt/classes/atoms.css";
@import "../../bolt/classes/device.css";
@import "../../bolt/classes/toggle-block.css";

@import "../../bolt/documentation/prism-cruncher.css";
@import "../../bolt/documentation/documentation.css";
@import "../../bolt/documentation/atoms.css";


@font-face {
    font-family: Euclid;
    src: url('https://stephen.band/slide-show/docs/fonts/Euclid/EuclidCircularA-Regular-WebTrial.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Euclid;
    src: url('https://stephen.band/slide-show/docs/fonts/Euclid/EuclidCircularA-Medium-WebXL.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: MartianMono;
    src: url('https://stephen.band/slide-show/docs/fonts/Martian-Mono/MartianMonoVF.woff2') format('woff2');
}


.docs-text-01, h1,
.docs-text-02, h2,
.docs-text-03, h3,
.docs-text-04, h4,
.docs-text-05, h5,
.docs-text-06, h6,
.docs-text-08, body,
.docs-text-09 {
    font-family: Euclid, Helvetica, Arial, sans-serif;
    font-style: none;
    text-transform: none;
    margin: 0;

    /* Make fonts appear the same on both hires and lores screens */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.docs-text-05 code:not(.pill) {
    font-family: MartianMono, Menlo, Monaco, monospace !important;
    font-variation-settings: 'wght' 350, 'wdth' 96;
    font-size: 0.875em;
}

code {
    font-family: MartianMono, Menlo, Monaco, monospace !important;
    font-variation-settings: 'wght' 520, 'wdth' 96;
    font-size: 0.8125em;
}

/* https://stephen.band/font-size/?breakpoints=320,1440&.text-02,%20h2=31.25,35.15625&.text-03,%20h3=25,28.125&.text-04,%20h4=20,22.5&.text-05,%20h5=16,18&.text-08,%20body=16,18&.text-09=12.8,14.4 */
.docs-text-01, h1    { font-size: 14.5vw;                             line-height: 1em;       font-weight: 600; }
.docs-text-02, h2    { font-size: calc(1.88337054rem + 0.34877232vw); line-height: 1.152em;   font-weight: 600; }
.docs-text-03, h3    { font-size: calc(1.50669643rem + 0.27901786vw); line-height: 1.44em;    font-weight: 600; }
.docs-text-04, h4    { font-size: calc(1.20535714rem + 0.22321429vw); line-height: 1.2em;     font-weight: 600; }
.docs-text-05, h5    { font-size: calc(0.96428571rem + 0.17857143vw); line-height: 1.5em;     font-weight: 600; }
.docs-text-08, body  { font-size: calc(0.96428571rem + 0.17857143vw); line-height: 1.5em;     font-weight: 400; }
.docs-text-09        { font-size: calc(0.77142857rem + 0.14285714vw); line-height: 1.40625em; font-weight: 400; }

/* Specific to <slide-show> header */

.docs-text-01 { font-size: 14.5vw; white-space: nowrap; }

@media (min-width: 50em) {
    .docs-text-01 { font-size: 10.2vw; }
}

@media (min-width: 70em) {
    .docs-text-01 { font-size: 7vw; }
}

.docs-text-01 > .tag-brace {
    vertical-align: -0.04em;
}

.docs-text-05 > a {
    min-height: 0;
    padding: 0;
    display: inline-block;
}

.docs-text-05 > a:hover,
.docs-text-05 > a:focus-visible,
.docs-text-05 > a.on {
    color: #137bb1;
}

.docs-text-04 + p, .docs-text-04 + .docs-text-08 { margin-top: 1em; }

* + .docs-text-04 { margin-top: 2.4em; }
p + p, ul + p { margin-top: 1em; }
pre + p, p + pre { margin-top: 1.5em; }
small > p + p { margin-top: 0; }


@media (min-width: 50em) {
    .\@1-no-wrap {
        white-space: nowrap;
        flex-wrap: nowrap;
        text-overflow: ellipsis;
    }
}


.doc-toggle-block {
    font-size: 0.9em;
    min-height: calc(1.5em + 1rem);
}

* > .doc-toggle-block {
    margin-bottom: -0.5rem;
    padding-bottom: 0.5rem;
}

* + .doc-toggle-block {
    margin-top: -0.5rem;
    padding-top: 0.5rem;
}

.docs-text-04 + .doc-toggle-block {
    margin-top: calc(1em - 0.5rem);
}

.doc-toggle-block > pre > code {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}



.grid {
    /* Temp */
    --x-gap: 1.5rem;
}

.banner-slide-show {
    column-gap: 0.75rem;
    --padding-left: 1.5rem;
    --padding-right: 1.5rem;
    height: min-content;
}

.banner-slide-show > a,
.banner-slide-show > a > img,
.banner-slide-show > img {
    display: block;
    width: 100%;
    max-width: 100%;
}

@media (min-width: 50em) {
    .banner-slide-show {
        column-gap: 1.25rem;
        --padding-left: 4.5rem;
        --padding-right: 4.5rem;
    }
}

@media (min-width: 70em) {
    body.docs-grid {
        /* Rough */
        padding-top: 4.5em;
        padding-left: var(--x-gap);
        padding-right: var(--x-gap);
    }

    .banner-slide-show {
        column-gap: 1.5rem;
        --padding-left: calc(11.11111111% + 1.5rem / 9);
        --padding-right: calc(11.11111111% + 1.5rem / 9);
    }
}

@media (min-width: 90em) {
    .banner-slide-show {
        --padding-left: calc(11.11111111% + 1.5rem / 9);
        --padding-right: calc(22.22222222% + 3rem / 9);
    }
}

.banner-slide-show:-webkit-full-screen {
    --padding-left: 0.75rem;
    --padding-right: 0.75rem;
}

.banner-slide-show:fullscreen {
    --padding-left: 0.75rem;
    --padding-right: 0.75rem;
}

@media (min-width: 50em) {
    .banner-slide-show:-webkit-full-screen {
        --padding-left: 4.5rem;
        --padding-right: 4.5rem;
    }

    .banner-slide-show:fullscreen {
        --padding-left: 4.5rem;
        --padding-right: 4.5rem;
    }
}



/* Github sponsor button */

.githubsponsor-button {
    --height: 1.75em;
    width: 200px;
    color: #24292f;
    background-color: #f6f8fa;
    box-shadow: 0 1px 0 rgba(27,31,36,0.04), inset 0 1px 0 rgba(255,255,255,0.25);;
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: color,background-color,box-shadow,border-color;
    position: relative;
    display: inline-block;
    padding: 0.3125rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    --line-height: 1em;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid rgba(27,31,36,0.45);
    border-radius: 0.375rem;
    -webkit-appearance: none;
    appearance: none;
}

.githubsponsor-button > svg {
    fill: #bf3989;
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
}


/* .tab-slide-show */

.tab-slide-show {
    width: 100%;
    max-width: 28.125rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    grid-auto-columns: max-content;
    column-gap: 2px;
    background-image:
        radial-gradient(circle at -3.5rem, rgba(0, 0, 0, 0.25) 0%, transparent 4.5rem),
        radial-gradient(circle at calc(100% + 3.5rem), rgba(0, 0, 0, 0.25) 0%, transparent 4.5rem);
}

.tab-slide-show > * {
    scroll-snap-align: start;
}

* + .tab-slide-show {
    margin-top: 1.5em;
}

.tab-button {
    --font-size: 0.9375rem;
    --line-height: 1.25em;
    --height: 2.5rem;
    color: #666666;
    border-bottom-color: #999999;
    border-radius: 0;
    padding-left: 1em;
    padding-right: 1em;
}

.tab-button:hover,
.tab-button:focus-visible {
    color: black;
    border-bottom-color: currentcolor;
}

.tab-button.active {
    color: black;
    border-bottom-color: currentcolor;
}

.tab-button.active::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 3px solid currentcolor;
}
